* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    background: url(https://i.pinimg.com/564x/22/5b/72/225b7269975ad61f1f45693cd31ea89a.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
.carousel {
    width: 80%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 20px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 45px;
        height: 45px;
        border: 1px solid #ff0000;
        border-radius: 50%;
        background: linear-gradient(135deg, #ff0000, #ff4500, #ff6347, #ffa07a, #ffd700);
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 15px 5px #ffd700, 0 0 20px #ff4500; 
        }

        i {
            color: #ffd700;
            font-size: 18px;
            text-shadow: 0 0 8px #ffd700, 0 0 10px #ff7300, 0 0 15px #ff4500;
            transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease;

            &:hover {
                text-shadow: 0 0 15px #ffffff, 0 0 25px #ffd700, 0 0 35px #ff4500;
                color: #ffffff;
                transform: rotate(20deg) scale(1.2);
            }
        }
    }
}

.item {
    width: 350px;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
